.card-signup{
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 10px 2px gray;
}

.signup-image{
        width: 65%;
        display: block;
        margin-left: auto;
        margin-right: auto;
}

.brand-name{
    font-family: 'Satisfy', cursive;
    font-size: 2rem;
    color: #8a16b8;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}

.brand-name:hover{
    color: #8a16b8;
    text-decoration: none;
}

.brand-name-1{
    font-family: 'Satisfy', cursive;
    color: #8a16b8;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}
.brand-name-1:hover{
    color: #8a16b8;
    text-decoration: none;
}

.btn{
    border-radius: 30px;
    border: 1px solid #ecc6f8;;
    padding: 5px;
    margin: 3px;
    width: 120px;
    font-size: 20px;
    font-family: 'Satisfy', cursive;
    outline: none;
    align-items: center;
    background-color: #8a16b8;
    text-align: center;
    color: white;
    display: inline-block;
    box-sizing: border-box;
    box-shadow: 0px 4px 6px -2px #613e6e;
    transition: all 0.3s ease-in-out;
    &:focus{
        border-color: none;
    }
}
.btn:hover{
    color: #fff;
    border-color: #de93fa;
    box-shadow: 0px 4px 6px -2px #de93fa;
}
