.input-search{
    width: 50%;
    height: 40px;
    border-radius: 30px;
    border: 1px solid #ecc6f8;;
    padding: 0 10px;
    font-size: 16px;
    outline: none;
    align-items: center;
    text-align: center;
    margin: 5px 25% auto;
    display: inline-block;
    box-sizing: border-box;
    box-shadow: 0px 4px 6px -2px #613e6e;
    transition: all 0.3s ease-in-out;
    &:focus{
        border-color: none;
    }
}

.input-search:hover{
    border-color: #de93fa;
    box-shadow: 0px 4px 6px -2px #de93fa;
}
.option-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    .btn{
        width: 20%;
        border-radius: 30px;
        border: 1px solid #ecc6f8;;
        padding: 5px;
        font-size: 20px;
        
        outline: none;
        align-items: center;
        background-color: #8a16b8;
        color: white;
        text-align: center;
        margin: 10px 10px 10px 50px;
        display: inline-block;
        box-sizing: border-box;
        box-shadow: 0px 4px 6px -2px #613e6e;
        transition: all 0.3s ease-in-out;
        &:focus{
            border-color: none;
        }
    }
    .btn:hover{
        background-color: #fff;
        color: #8a16b8;
        border: 1px solid #8a16b8;
    }
}

/* media querie */

@media screen and (max-width: 768px){
    .input-search{
        width: 80%;
        margin: 10px 10% auto;
    }
    .option-btns{
        flex-direction: column;
        .btn{
            width: 50%;
            margin: 10px 0;
        }
    }
}



