.hero {
  width: 100%;
  background-size: cover;
  position: relative;
  min-height: 60vh;
  padding: 50px 0 50px 0;
}

.hero h2 {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--color-secondary);
  font-family: var(--font-primary);
}

.hero h2 span {
  color: var(--color-primary);
}

.hero p {
  color: #4f4f5a;
  font-weight: 400;
  margin-bottom: 30px;
}

.btn-book-a-table {
  border-radius: 30px;
  border: 1px solid #ecc6f8;
  padding: 10px;
  align-items: center;
  background-color: #8a16b8;
  color: white;
  text-decoration: none;
  text-align: center;
  margin: 10px 10px 10px 50px;
  display: inline-block;
  box-sizing: border-box;
  box-shadow: 0px 4px 6px -2px #613e6e;
  transition: all 0.3s ease-in-out;

  &:focus {
    border-color: none;
  }
}

.btn-book-a-table:hover {
  background-color: #fff;
  color: #8a16b8;
  border: 1px solid #8a16b8;
}

.btn-menu{
  border-radius: 30px;
  border: 1px solid #ecc6f8;
  padding: 10px;
  align-items: center;
  background-color: #8a16b8;
  color: white;
  text-decoration: none;
  text-align: center;
  margin: 10px 10px 10px 50px;
  display: inline-block;
  box-sizing: border-box;
  box-shadow: 0px 4px 6px -2px #613e6e;
  transition: all 0.3s ease-in-out;

  &:focus {
    border-color: none;
  }
}

.btn-book-a-table:hover {
  background-color: #fff;
  color: #8a16b8;
  border: 1px solid #8a16b8;
}